
.container {
  background: #37484F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.snowman {
  height: 200px;
  width: 225px;
}

.melt, .weather-text {
  color: #7FC9C2;
}

.container, .snowman, .melt, .weather-text {
  margin: 8px;
}

/*.add {
  height: 100px;
  width: 100px;
  background: white;
}*/

.fa {
  color: #26A599;
  position: absolute;
  right: 47px;
  bottom: 25px;
  
}