body {
  margin: 0;
  padding: 0;
  background: #37484F;
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.snow-contain {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.snowman {
  height: 200px;
  width: 225px;
}

.melt, .weather-text {
  color: #7FC9C2;
}

.container, .snowman, .melt, .weather-text {
  margin: 8px;
}

.btn-floating {
  position: absolute;
  right: 70px;
  bottom: 40px;
}

.address-input {
  margin-right: 400px;
  height: 400px;
  width: 400px;
}

.input-field {
  display: flex;
  justify-content: space-between;
}

.search {
  margin-right: 5px;
  margin-top: 10px;
}